/* font-family: 'Alef', sans-serif; */
@import "~mdb-ui-kit/css/mdb.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alef", sans-serif;
}

@keyframes slideInLeft {
  0%{transform: translateX(-50%);}
  50%{transform: translateX(10%);}
  75%{transform: translateX(-10%);}
  100%{transform: translateX(0%);}
}
@keyframes slideInRight {
  0%{transform: translateX(50%);}
  50%{transform: translateX(-10%);}
  75%{transform: translateX(10%);}
  100%{transform: translateX(0%);}
}
.navbar-ul {
  /* margin: auto !important; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
.nav-item {
  margin: 0px 20px;
  text-transform: uppercase;
}
.nav-link {
  color: white !important;
}
.model {
  color: red !important;
}
.dropdown-menu li {
  margin: 5px 0;
}
.dropdown-menu li a {
  color: white;
}
.dropdown-item {
  color: white;
  text-transform: capitalize;
  font-family: "Alef", sans-serif;
  font-size: 0.8rem;
}
.nav-link:hover {
  color: red !important;
}
#language {
  border: 2px solid #545454;
}
/* video  */
.hero {
  width: 100%;
  height: 85vh;
}
.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
  /* display: none; */
}

/* section 1 */
.bike {
  width: 100%;
}
.bike-description {
  line-height: 1.5em;
  font-size: 18px;
  color: rgb(102, 102, 102);
}
sup {
  text-transform: uppercase;
  font-size: 15px;
  color: rgb(102, 102, 102);
}
.title {
  font-size: 1.3rem;
  font-weight: 300;
}
.title span {
  font-size: 1rem;
}

#contact-btn {
  width: 325px;
}

/* section 2 */
.section-2-info {
  margin: 0px 100px;
}
.section-2 .description {
  font-size: 15px;
  line-height: 28px;
  color: rgb(102, 102, 102);
}

/* section 3 */
.section-3 {
  max-width: 100%;
  background-color: black;
  padding: 120px 0;
}
.section-3-info {
  margin: 0px 100px;
}
.section-3 .title {
  font-size: 30px;
  font-weight: 700;
}
.section-3 .description {
  color: rgb(167, 167, 167);
}

/* section 4 */
.section-4 {
  background: url(/assets/bg.webp) repeat-x;
  text-align: center;
}
.section-4 .title {
  font-size: 40px;
  font-weight: 700;
}
.section-4 .description {
  color: #545454;
  font-size: 15px;
  line-height: 25px;
}

/* section 5 */
.section-5 {
  margin-top: 30px;
}
.section-5-info {
  margin: 0 200px;
}
.section-5 .title {
  font-size: 40px;
  font-weight: 700;
}
.section-5 .description {
  color: #545454;
  font-size: 15px;
  line-height: 25px;
}

/* section 6 */
.section-6 {
  width: 100%;
  height: 580px;
}
.section-6::before {
  content: "";
  height: 580px;
  width: 100%;
  background: url("/assets/bg\ \(1\).webp") center/cover no-repeat fixed;
  position: absolute;
  z-index: -1;
}
.section-6-info {
  margin: 0 150px 0 300px;
  background-color: #222222d7;
  padding: 20px;
}
.section-6 .title {
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.section-6 .description {
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 25px;
}

/* section 7 */
.section-7 {
  width: 100%;
  overflow: hidden;
}
.section-7-info {
  padding: 0px 100px;
}
.section-7-info .title {
  font-size: 40px;
  font-weight: 700;
}
.section-7-info .description {
  font-size: 15px;
  line-height: 25px;
  color: #545454;
}

/* section 8 */
.section-8 {
  background: #d0d0d0;
}
.section-8-info {
  padding: 0px 100px;
}
.section-8-info .title {
  font-size: 40px;
  font-weight: 700;
}
.section-8-info .description {
  font-size: 15px;
  line-height: 25px;
  color: #545454;
}

/* section 9 */
.section-9 {
  max-width: 100% !important;
}
.section-9-info {
  padding: 0px 100px;
}
.section-9-info .title {
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.section-9-info .description {
  font-size: 15px;
  line-height: 25px;
  color: #cacaca;
}
/* .section-9 img{
  
} */
.slide-in-left{
  animation: slideInLeft 0.5s linear;
}
.slide-in-right{
  animation: slideInRight 0.5s linear;
}
.gray-bg {
  /* width: 100%; */
  background-color: #333;
}
.black-bg {
  background-color: black;
}

/* section 10 */
.section-10-info {
  padding: 0px 50px;
}
.section-10-info .title {
  font-size: 35px;
  font-weight: 700;
}
.section-10-info .description {
  font-size: 15px;
  line-height: 25px;
  color: #545454;
}

/* section 11 */
.section-11 {
  width: 100%;
  height: 580px;
}
.section-11::before {
  content: "";
  height: 600px;
  width: 100%;
  background: url("/assets/zuozi.webp") top/cover no-repeat;
  position: absolute;
  z-index: -1;
}
.section-11-info {
  margin: 0 150px 0 300px;
  /* background-color: #222222d7; */
  padding: 20px;
}
.section-11 .title {
  font-size: 40px;
  font-weight: 700;
}
.section-11 .description {
  font-size: 15px;
  line-height: 25px;
}

/* section-12 */
.section-12-info {
  /* background-color: #222222d7; */
  padding: 20px;
  margin-left: 30px;
}
.section-12 .title {
  font-size: 30px;
  font-weight: 700;
}
.section-12 .description {
  font-size: 15px;
  line-height: 25px;
}

/* section 13 */
.section-13 {
  background-color: #e6e6e6;
  text-align: center;
  padding: 40px 0;
}
.section-13 .title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* section 14 */
.section-14 .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.section-14 .column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.section-14 .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
.section-14 .column img:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 800px) {
  .section-14 .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .section-14 .column {
    flex: 100%;
    max-width: 100%;
  }
  .section-14 .column img {
    filter: grayscale(0) brightness(1);
  }
}



/* footer  */
footer{
  margin-top: 20px;
}
footer .logo-container{
  margin-bottom: 20px;
}
footer .about{
  margin-top: -15px;
}


/* back to top  */
#btn-back-to-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: none;
}
#leave-message{
  position: fixed;
  bottom: 0;
  right: 0;
}
